.dropdown-optionMenuItem {
    span {
        margin-left: 5px;
        color: grey;
    }
}

.dropdown-select {
    .MuiSelect-selectMenu span {
        margin-left: 5px;
        color: grey;
    }
}