.lineDescription div{
    display: flex;
    span {
        font-weight: bolder;
        margin-left: 5px;
        margin-right: 5px;
    }
}

.titleDescription {
    font-style: oblique;
    text-decoration-line: underline;
}